
    /*
grid-template-columns: 25% 75%;
grid-template-rows: 40% 37% 53%;
*/
/*   padding: 10px;

 */
 .projects-grid{
   background-color: #243c3a;
background-image: linear-gradient(315deg, #1E2130 60%, #16141e 40%);


}
  .main,
      .sidebar {
      color: #ece5e5;
      padding: 9px;
      
      }
#Home-page{
     background-color: #243c3a;
background-image: linear-gradient(315deg, #20363a 9%, #1b1138 60%);
    /*       background-color:rgba(24,26,32,0.99)!important;
*/
}
 body {
        /*     background-color: #030a16;#576377

   background-color:#ececec;*/
     background-color: #243c3a;
background-image: linear-gradient(270deg,#0d2229 10%, rgb(16,3,17) 80%);



     font-size: 20px;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    margin: 0px;
    
    }
    .simpleDesc {
        font-family: 'Jura', sans-serif;
        font-size: 25px;
        color : #cdced7 ;

      }
.portfolio-page h2{
    color : #212433;
}
.portfolio-page h2::before{
    color : rgba(24,26,32,0.99)!important;
  background-color:#212433;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;

}



.sidebar {
         filter: drop-shadow(0 0 0.2rem rgb(14,17,62));
   
}
footer {
    background-color: rgba(24,26,32,0.99)!important;       
   
}
.footer-text {
        color : wheat !important;

}
    .main {
        flex-direction :column ;
        width: 96%;
        height: 488vh;
        min-height: 1000px;
        display: -webkit-box;
        display: flex;
    margin: 0% 1% 0% 0.6% ;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
}

 #next-btn{
        border : none;
        font-size: 35px;
        padding: 10px;
           color: #a07b0b !important; 
        text-align: center;
                 font-size: 20px;
                border-radius: 5px;
                transition: 0.7s;
                padding : 10px 20px;
                      border: none !important;
}
#next-btn:hover{
    color :black !important;
    background-color: wheat;
    cursor: pointer;
}

#letsTalk{
        margin-top: 10px;
                 background-color: rgba(249,249,249,0.04) ;
                 border: solid 2px #ECBD2C !important;
                  font-family: 'Jura', sans-serif;
        font-weight: bold;
                   font-size: 20px;
                border-radius: 5px;
                transition: 0.7s;
                padding : 10px 30px;
           text-decoration: none;        
           color: #c49b1f !important; 
           }
     
         #letsTalk a:visited{
           text-decoration: none;        
           color : #ECBD2C !important;   
         }     
         #letsTalk:hover {
                 background-color: #ECBD2C;
            border: none;
            color: black !important;
         }
        
         #letsTalk a:default  {
            color: #ECBD2C !important;
         }






 #projects-buttons{
margin: auto;
     width : 10%;
     margin-bottom: 50px
}
.biopro{
    margin: 70px 0px
    }
 .projects-grid{
     margin: auto;
       margin-bottom: 15px; 

            /*background-color: rgba(31,34,49,0.99);*/

               font-family: 'Jura', sans-serif;
      font-size: 22px;
      display: grid;
      width: 90%;
      height: 250px;
      grid-template-areas: ". second-col-first third-col-first fourth-col"
                           "first-col  second-col-second third-col-second fourth-col"
                           ".  second-col-third . fourth-col";
      grid-template-rows: 70px 70px 60px ;
      grid-template-columns: 15% 30% 30% 30% ;
    
    }
 .portfolio-page{
        filter: none !important;
        /*                 background: radial-gradient(50% 50% at 50% 50%, #161B40 57.37%, #0E122F 100%);
          
                  background-color: rgba(54,61,98,0.69) ;*/ 
                  animation-name: fade;
                  animation-duration: 1.5s;
    }


#gridaboutme{
    margin-top: 80px;
}
 .grid-about-me{

        color :white;
        font-family: 'Jura', sans-serif;
        font-size: 22px;
        display: grid;
        width: 60%;
        padding : 10px 10px;
        margin:auto ;
        height: 700px;
        grid-template-areas: 
                ". shortbio ."
                ". borned ."
                ". about-me-desc ."
                ". fav-q ."
                      ;
          grid-template-rows: 4% 20% 52% 24%   ;
        grid-template-columns: 20% 64% 22% ; 
        margin-bottom: 8%; 
        }
#skills-page{
    padding-top:80px ;
}

#languages, #tools{
    margin-left:auto;
}

.c-lang{
    align-self:top ;    
}
.grid-skills-lang{

        color :white;
        font-family: 'Jura', sans-serif;
        font-size: 22px;
        display: grid;
        width: 70%;
        padding : 10px 0px 0px 10px;
        margin:0% 10% ;
        height: 250px;
        grid-template-areas: 
                "skill-lang-icon  skills-titles skills-titles skills-titles .  . . . . . "
                "html html css css js js php php . ."
                "c c laravel laravel . . . . . ."
                      ;
          grid-template-rows: 35% 65%  ;
        grid-template-columns: 7% 13% 10% 10% 10% 10% 10% 10% 10% 10% ; 
        margin-bottom: 10%; 
        }
        
 #tools div:not(:nth-child(2)) img:hover , #languages div:not(:nth-child(2)) img:hover{
        filter : invert(0.2);
    }
    
 html {
        scroll-behavior: smooth;
      }
 :root {
        --yellow : #ECBD2C ;
}
#sidebar-icons-group a:not(:first-child) img{
margin:40px 2px ;  
}
#sidebar-icons-group img:first-child{
margin:22px 2px ;  
}
.sidebar-icons:hover{
        cursor: pointer;
        filter:  drop-shadow(1px 1px 1px beige) invert(75%);
}
.main-content-left{
        width: 90%;
padding: 8.6% 10%;
}
.fa{
      padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-linkedin:hover{
        background: #085d8d;
}

.fa-facebook:hover{
        background: #3c5077;
}

#socialMedia
{
        display: block;
    margin-top: 7%; 
}
.fa-facebook{
  background: #3B5998;
  color: white; 
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

#header{
    display: block;
}
#skills-page{
    /*#161B40 57.37%, #0E122F*/
              background-color: rgba(31,34,49,0.99);
}
#contactMe{
                  background-color: rgba(31,34,49,0.99);

    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.25); 
        padding: 80px 0px;
}
.container {
        width: 80%;
        max-width: 650px;
        margin: 0 auto;
        color: #f2f2f2;
      }



footer p {
        color: black !important;
}

footer{

    display: flex;
    background-color: #e9eae4 ;
    padding: 20px;
    justify-content:  center;
}

/* new */
#tom{
        text-decoration: none;
        color: #3B5998!important;

}
      #tom:visited{
        text-decoration: none;        
        color: #3B5998!important;
      }     
      #tom:hover {
        color: #ECBD2C !important;
}
     
#tom:default  {
         color: #ECBD2C !important;
      }

/* new */








.titles {
        font-family: 'Marcellus SC', serif;
        font-size: 40px;
        color : #c69705 ;

      }
#idontlike{
        color : #C1121C ;
}
#ilike{
        color : #2D9CDB;
}
 .shortbio::before{
  background-color:white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}


#Home-page  img{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 0px 10px ; 

}

      .main-content-right{
      }

h1:before {
  right: 0.5em;
  margin-left: -50%;
}


 .sidebar {
        background-color: #F1F1F1 ;
        border: none;
     width: 4%;
      height: 56vh;
      min-height: 200px;
      overflow: visible;
     
      position: -webkit-sticky;
      position: sticky;
               top: 18%;
         border-radius: 0px 10px 10px 0px;
      }
      
  
    
      
      .wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      }
      
    
      p {
        color : white ; 
      
      }
      
      .bottom {
      justify-self: bottom;
      }
      /* new */
      
     
     
  
     
      #Home-page{
          border-radius: 10px 10px 10px 10px ; 
        /*  background-color: #ececec ;*/
            background-color: #fafdfd ;
              display: flex;
              padding: 0% 10% 0% 0% ;
              margin: 40px 0px 0px 0px;
      }
 


.projects-grid img:hover{
        filter: invert(0.7);
        cursor: pointer;
}




   




#about-me{
            background-image: url('9.png') ; 
            background-repeat: repeat-x;
            background-position: center;

}
.grid-about-me{
    background-color: rgba(0, 0, 0, 0.8); ;    
}
.grid-about-me p {
    filter: blur(-15px);
    z-index: 999;
}

   
     

      .first-col{
              padding: 20px 0px;
              grid-area: first-col ;
      }
      .second-col-first {
              grid-area: second-col-first ; 
                            padding: 15px 0px;

      }
      .second-col-second{
              grid-area: second-col-second ;
              padding: px 10px;
                 font-family: 'Marcellus SC', serif;
      }
      .second-col-third {
              grid-area: second-col-third ;
      }
      .third-col-first {
              grid-area: third-col-first ; 
padding: 18px 0px;
              color: var(--yellow);
                 font-family: 'Marcellus SC', serif;
}
      .third-col-second {
              grid-area: third-col-second ;
      }
      #second-medal{
              grid-area: second-medal;
      }
      .third-col-third{
              grid-area: third-col-third ;
      }
      .fourth-col{
              grid-area: fourth-col ; 
              
      }
     
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
 
      #tfog{
                 font-family: 'Jura', sans-serif;
        font-size: 22px;
        display: grid;
        height: 250px;
        grid-template-areas: ". second-col-first third-col-first fourth-col"
                             "first-col  second-col-second third-col-second fourth-col"
                             ".  second-col-third third-col-third  fourth-col";
        grid-template-rows: 70px 70px 60px ;
        grid-template-columns: 15% 30% 30% 30% ;

      }
      /* new */

* {
        box-sizing: border-box;
      }
 
      
      /* Position text in the middle of the page/image */
 
   /*  */
      #recitroc{
                 font-family: 'Jura', sans-serif;
        font-size: 22px;
        display: grid;
        height: 250px;
        grid-template-areas: ". second-col-first third-col-first fourth-col"
                             "first-col  second-col-second third-col-second fourth-col"
                             ".  second-col-third third-col-third  fourth-col";
        grid-template-rows: 70px 70px 60px ;
        grid-template-columns: 15% 30% 30% 30% ;

      }
      .desc{
              grid-area: desc;
      }
.github,.html ,.desc, .techAndRole , .moNrole {
        border-left : 1px solid var(--yellow) ;
        padding: 0% 0% 0% 10%;
}
      .techAndRole{
              grid-area: techAndRole;
      }
      .moNrole{
              grid-area: moNrole;
      }
      .bjoutik-description{
              grid-area: bjoutik-description;
      }
      .names{
              grid-area: names;
      }
      .tech-used{
              grid-area: tech-used;
      }
      .role-content{
              grid-area: role-content;
      }
.date-project{
        color : var(--yellow);
        grid-area: date-project ;
}
     
.bjo-grid{
          justify-self: center;
}
      .bjo-grid{
                justify-self: center;
}

.grid-contents{

        font-family: 'Jura', sans-serif;
        font-size: 22px;
        display: grid;
        width: 70%;
        padding : 10px 0px 0px 10px;
        margin:0% 10% ;
        height: 250px;
        grid-template-areas: 
                "date-project . ."
                "desc bjoutik-description bjoutik-description"
                       "desc names names"
                       "techAndRole tech-used tech-used "
                "moNrole role-content take-a-look-button"
                      ;
          grid-template-rows: 25% 40% 20% ;
        grid-template-columns: 30% 40% 30%  ; 
        margin-bottom: 10%; 
        }
.skills-titles{
      
        grid-area: skills-titles;
}
.tools-titles{
        grid-area : tools-titles;
        justify-self: flex-start ;
}
.github {
        grid-area : github ; 
}
.vim {
        grid-area : vim ;
}
.figma {
        grid-area : figma ;
}
.c-lang{
        grid-area : c;

}
.gns3 {
        grid-area : gns3;
}
.html {
        grid-area: html;
}
.css {
        grid-area: css;
}
.php {
        grid-area: php;
}
.laravel {
        grid-area: laravel;
}
.js {
        grid-area: js;
}


#Take-a-look-button{
        background-color: var(--yellow);
        border: none ;
        height: max-content;
        justify-self: end;
        padding: 10px 20px;
        grid-area: take-a-look-button;
        /*width: 40%;*/
}
.nameone, .nametwo , .namethird {
        background-color: #1D1D1D;
}
.nameone{
        grid-area: nameone;  
}
.nametwo{
        grid-area: nametwo;  
}
.namethird{
        grid-area: namethird;  
}
.label-shap{
     /*  display: none ;*/
        grid-area: label-shap;  
}
.label-shape-text {
        transform: rotate(-90deg);
        

      
}
/*  .second-col-third: {
        transform: rotate(90deg) ;

}  */

#shape{
        background-color: turquoise;
        border : 1px solid turquoise;
        display: inline-block;
        color:white ;
        font-family: 'Jura', sans-serif;
        font-size: 22px;
        width: 40%;
        margin:10% 10% ;
        height: 250px;
        grid-template-areas: 
"nameone ."
"nametwo label-shap"
"namethird ."

              
                      ;
       /*   grid-template-rows: 25% 40% 20% ;*/
        grid-template-columns: 80% 20%  ; 
       
}
.names-content{
        
}




/* Add styles to the form container */
.form-container {

  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}
#skill-lang-icon{
        grid-area: skill-lang-icon;
}
#skill-two-icon{
        grid-area: skill-two-icon;
}
.shortbio{
        font-family: 'Marcellus SC', serif;
        grid-area : shortbio;
    color: white;
}
.borned{
        grid-area : borned;
}
.about-me-desc{
        grid-area : about-me-desc;
}
.fav-q{
        grid-area : fav-q;
}
.c-lang{
    margin-left: 28px; 
}
.grid-skills-tools{

        color :white;
        font-family: 'Jura', sans-serif;
        font-size: 22px;
        display: grid;
        width: 70%;
        padding : 10px 0px 0px 10px;
        margin:0% 10% ;
        height: 250px;
        grid-template-areas: 
                "skill-two-icon tools-titles tools-titles tools-titles  . . . . . ."
                "github github vim vim figma figma gns3 gns3 . ."
                      ;
          grid-template-rows: 35% 65%   ;
        grid-template-columns: 7% 13% 10% 10% 10% 10% 10% 10% 10% 10% ; 
        margin-bottom: 10%; 
        }



.contact-content {
        grid-area: c-c;
        display: flex;
        align-items:center ;
        flex-direction: column;
        margin-right: 10% ;
}

.message,.email,.nom-prenom  {
        padding: 10px 10%;  
        
}
.contact-me-button {
        align-self: auto;
        border: none ; 
        padding: 10px 10%;  
        margin: 5% 0%;
}

      
      .container * {
        box-sizing: border-box;
      }
      
      .flex-outer,
      .flex-inner {
        list-style-type: none;
        padding: 0;
      }
      
      .flex-outer {
        max-width: 800px;
        margin: 0 auto;
      }
      
      .flex-outer li,
      .flex-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      
      .flex-inner {
        padding: 0 8px;
        justify-content: space-between;  
      }
      
      .flex-outer > li:not(:last-child) {
        margin-bottom: 20px;
      }
      
      .flex-outer li label,
      .flex-outer li p {
        padding: 8px;
        font-weight: 300;
        letter-spacing: .09em;
        text-transform: uppercase;
      }
      
      .flex-outer > li > label,
      .flex-outer li p {
        flex: 1 0 120px;
        max-width: 220px;
      }
      
      .flex-outer > li > label + *,
      .flex-inner {
        flex: 1 0 220px;
      }
      
      .flex-outer li p {
        margin: 0;
      }
      
      .flex-outer li input:not([type='checkbox']),
      .flex-outer li textarea {
        padding: 15px;
        border: none;
      }
      
      .flex-outer li button {
        margin-left: auto;
        padding: 8px 16px;
        border: none;
        background: #333;
        color: #f2f2f2;
        text-transform: uppercase;
        letter-spacing: .09em;
        border-radius: 2px;
      }
      
      .flex-inner li {
        width: 100px;
      }
.borned{
        color: #ECBD2C;
        font-size: 31px;
}
.dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }
      .dot-vide{
        height: 15px;
        width: 15px;
        border : 3px solid;
        border-color: #bbb;
        border-radius: 50%;
        display: inline-block;
}
.seperator{
        align-self: center;
}
